<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Trade ID</th>
        <th>Trade Date</th>
        <th>Counterparty Code</th>
        <th>Buy/Sell</th>
        <th>Commodity</th>
        <th>Grade</th>
        <th>Contract Term</th>
        <th>Period Start Date</th>
        <th>Period End Date</th>
        <th>Incoterm</th>
        <th>Load Location</th>
        <th>Unload Location</th>
        <th>Price Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trade of trades">
        <td><a href="#" [simpleTooltip]="trade.tradeId">{{ trade.tradeId }}</a></td>
        <td [simpleTooltip]="trade.tradeDate">{{ trade.tradeDate }}</td>
        <td [simpleTooltip]="trade.counterpartyCode">{{ trade.counterpartyCode }}</td>
        <td [simpleTooltip]="trade.buySell">
          <span [class.buy]="trade.buySell === 'BUY'" [class.sell]="trade.buySell === 'SELL'">
            {{ trade.buySell }}
          </span>
        </td>
        <td [simpleTooltip]="trade.commodity">{{ trade.commodity }}</td>
        <td [simpleTooltip]="trade.grade">{{ trade.grade }}</td>
        <td [simpleTooltip]="trade.contractTerm">{{ trade.contractTerm }}</td>
        <td [simpleTooltip]="trade.periodStartDate">{{ trade.periodStartDate }}</td>
        <td [simpleTooltip]="trade.periodEndDate">{{ trade.periodEndDate }}</td>
        <td [simpleTooltip]="trade.incoterm">{{ trade.incoterm }}</td>
        <td [simpleTooltip]="trade.loadLocation">{{ trade.loadLocation }}</td>
        <td [simpleTooltip]="trade.unloadLocation">{{ trade.unloadLocation }}</td>
        <td [simpleTooltip]="trade.priceType">{{ trade.priceType }}</td>
      </tr>
    </tbody>
  </table>
</div>